---
// Astro component script
import Head from '../components/Head.astro';
import Header from '../components/Header.astro';
import Hero from '../components/Hero.astro';
import About from '../components/About.astro';
import Services from '../components/Services.astro';
import Qualifications from '../components/Qualifications.astro';
import Contact from '../components/Contact.astro';
import Footer from '../components/Footer.astro';
import '../styles/global.css';
---

<html lang="de">
	<head>
		<Head />
	</head>
	<body>
		<a href="#main-content" class="skip-link">Zum Hauptinhalt springen</a>
		
		<Header />

		<main id="main-content">
			<Hero />
			<About />
			<Services />
			<Qualifications />
			<Contact />
		</main>

		<Footer />
	</body>
</html>
