---
// Header component with navigation
---

<header>
	<nav>
		<a href="#" class="logo">Praxis Dorothea Preiß</a>
		<ul class="nav-links">
			<li><a href="#ueber-mich">Über mich</a></li>
			<li><a href="#leistungen">Leistungen</a></li>
			<li><a href="#qualifikationen">Qualifikationen</a></li>
			<li><a href="#kontakt">Kontakt</a></li>
		</ul>
	</nav>
</header>
