---
// Services section component
---

<section id="leistungen">
	<h2 class="section-title">Leistungen</h2>
	
	<div class="card">
		<h3>Psychotherapie</h3>
		<ul>
			<li>F체r Kinder, Jugendliche und junge Erwachsene (9-21 Jahre)</li>
			<li>Alle Kassen und Privat</li>
			<li>Tiefenpsychologisch fundierte Psychotherapie</li>
			<li>Analytische Psychotherapie</li>
			<li>Spezialisierung auf Traumatherapie</li>
		</ul>
	</div>

	<div class="card">
		<h3>Supervision und Fallberatung</h3>
		<ul>
			<li>F체r Mitarbeiterinnen und Mitarbeiter in Kinder- und Jugendhilfeeinrichtungen</li>
			<li>Fallberatung bei komplexen F채llen</li>
			<li>Supervision f체r Teams und Einzelpersonen</li>
		</ul>
	</div>
</section>
